html, body{
}

body{
    margin:0;
    background-color:black;
    font-family:sans-serif;
    font-weight:lighter;
    color:white;
    overflow:hidden;
}
::selection{
    background:#336644;
}
#HyperionTitle{
    cursor:pointer;
}
#main{
    width:800px;
    height:35%;
    margin:auto;
    margin-top:22%;
    text-align:center;
}
footer{
    color:#333;
    text-align:center;
    position:fixed;
    width:100%;
    bottom:0;
}
footer p{
    margin:0;
}

.monster{
    opacity:1.0;
    width:100%;
    position:fixed;
}
#monster-top{
    top:-20%;
}
#monster-bot{
    bottom:-40%;
}
#monster-top-start{
    top:-120%;
}
#monster-bot-start{
    bottom:-120%;
}


@media screen and (max-width:1000px){
                    .monster{
                        opacity:1.0;
                        width:200%;
                        position:fixed;
                        left:-50%;
                    }
                    h1{
                        font-size:12em;
                    }
                    p{
                        font-size:6em;
                    }
                    footer{
                        color:#555;
                    }
                    footer p{
                        font-size:1em;
                    }
                }



/*helpers*/
.absolute-center{
    position:absolute;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
}
.background{
    width:100%;
    opacity:0.6;
    z-index:-99;
    position:fixed;
}
.break-50{
    color:white;
    height:525px;
    width:100%;
}

/*video*/
#videoMask{
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.5;
    color:white;
}